In [1]:

#control flow statement 
#if 
#if-else
#nested if-else 
#for loop 
#while loop

13

In [5]:
if 10>10 :
    print(" condition is flase")
else:
    print("condition is true")
print('Work done go and do another')

condition is true
Work done go and do another

In [10]:
name="gnesh"
if 'a' in name :
    print("a is present")
elif 'g' in name:
    print('g is present')
else :
    print("not present")

g is present

In [12]:
a=18
if a>18:
    print("u can vote")
elif a==18:
    print("u are 18 u can vote vote")
else:
    print("u can not vote")

u are 18 u can vote vote

In [21]:
#take input 
#print("Enter the number")
#a = input()
#print(a)

#type casting
b=input("Enter the number")
c= int(b)
print(c)
print(type(c))

5
<class 'int'>

In [1]:
a=input("enter first number")
b=input("enter second number")
c=input("Enter third number")

if a>b:
    if a>c:
        print("A is greaater")
elif b>a:
    if b>c:
        print("b is greter")
else :
    print("c is greater then a and b")

c is greater then a and b

In [2]:
for i in range(10):
	   print(i)

0
1
2
3
4
5
6
7
8
9

In [4]:
for i in range(10,20):
    print("number is i:",i)

number is i: 10
number is i: 11
number is i: 12
number is i: 13
number is i: 14
number is i: 15
number is i: 16
number is i: 17
number is i: 18
number is i: 19

In [5]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [6]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [7]:
name="ganesh"
for i in name:
    print(i)

g
a
n
e
s
h

In [15]:
name="ganesh"
for i in name:
    print(i)

g
a
n
e
s
h

In [8]:
name="ganesh"
print(len(name))

6

In [21]:
name="ganesh"
for i in range(0,len(name)-1,2):
    print(name[i])

g
n
s

In [28]:
#print number till 30 which is divible by 3 


for i in range(3,31,3):
    print(i)

3
6
9
12
15
18
21
24
27
30

In [31]:
for i in range(1,11,1):
    print("3","*",i,"=",i*3)

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [34]:
i=0
while i<=10:
    print(i)
    i=i+1 #i+=1

0
1
2
3
4
5
6
7
8
9
10

In [35]:
i=0
while i<=10:
    i+=1
    print(i)

1
2
3
4
5
6
7
8
9
10
11

In [51]:
#take start and end from the user and then print that using type casting

start=int(input("Enter the start"))
end=int(input("Enter the end"))

while start<=end:
    print(start)
    start+=1

9
10
11
12
13
14
15

In [ ]:
a=10
n=True
while n==True:
    b=int(input("enter the number"))
    if(b==a):
        a=False
        print("both are same")
    print(b)

In [68]:
name="ganesh"
for i in name:
    print(type(i))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [71]:
for i in 1,2,3,4,5:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [74]:
for i in range(10):
    print(i)
else:
    print("Loop ends")   # for jab terminate hoga tab else print hoga
for i in range(10,21):
    print(i)

else:
    print('SEcond for ends')

0
1
2
3
4
5
6
7
8
9
Loop ends
10
11
12
13
14
15
16
17
18
19
20
SEcond for ends

In [78]:
for i in range(10):
    if i==5 or i==9:
        continue
    print(i)
    i+=1

0
1
2
3
4
6
7
8

In [79]:
for i in range(10):
    pass

In [81]:
a="ganesh"
b='mishra'
c='''Bhogendra
kulakant'''

ganesh mishra Bhogendra
kulakant

In [83]:
name='ganeshMishra' #slicing in python without step
name[2:8]

'neshMi'

In [85]:
name='ganeshMishra'  # slicing in python with steps 
name[1:12:2]

'aehiha'

In [97]:
name="ganeshmishra"
for i in range(11,-1,-1):
    print(name[i],end=" ")

a r h s i m h s e n a g

In [101]:
name="ganeshmishra"
print(name[::-1])   # it is simple method to reverse the string

arhsimhsenag

In [103]:
# string operands 



name = 'ganesh'
name.upper() #convert upper case
name.lower() #convert loewr  case 
name.strip() # use to trim the blank spaces form the start and end in the string 
name.replace('h','j') # use to replace the character of the string 
name.split() #in a sequence of string it split the string in different word and it put the word is list

'ganesh'

In [109]:
name='    ganesh   '
print(name.upper())
print(name.lower())
print(name.strip())
print(name.replace('g','p'))

    GANESH
    ganesh
ganesh
    panesh

In [111]:
name='ganesh mishra bhogendra'
print(name.split())
print(type(name.split()))

['ganesh', 'mishra', 'bhogendra']
<class 'list'>

In [118]:
#code for seprate the full string in 2 parts 

name='ganesh mishra , computer, engineer'
t1=name[0:14]
t2=name[15:35]
print(t1)
print(t2)
print(name[::-1])   # it will reverse the string

ganesh mishra
 computer, engineer
reenigne ,retupmoc , arhsim hsenag

In [9]:
c='thakur'
c.replace('t','T')
a='Polytechnic'
c+a

x=c+a+' 0522'
x

'thakurPolytechnic 0522'

In [14]:
# Lists 

txt=[1,2,3,'Gaensh','Boy',True]
txt
txt[0]

1

In [23]:
print(type(txt))
print(len(txt))

<class 'list'>
5

In [19]:
print(txt[4])
print(txt[2])
print(txt[3])

Boy
3
Gaensh

In [18]:
print(txt[-1])  #negative indexing ka use karte sidhe index se ulta ho jata hai 
print(txt[-2])
print(txt[-3])

Boy
Gaensh
3

In [26]:
lst1=list('mishra')
lst1

['m', 'i', 's', 'h', 'r', 'a']

In [29]:
string=input("Enter the string")
print(string==string[::-1])

True